@tailwind base;
@tailwind components;
@tailwind utilities;

tr {
  @apply border-b-2 h-16
}

.empty {
  @apply mt-4 text-gray-600
}

.book-entry:hover {
  @apply bg-zinc-200
}

.delete-button, .delete-button:hover {
  @apply h-20
}

.delete-button {
  background-image: url("../svg/trash.svg");
} 

.delete-button:hover {
  background-image: url("../svg/trash_hover.svg");
}

.delete-button, .delete-button:hover {
  background-repeat: no-repeat;
  background-size: 24px;
  background-position: center;
}

.text-box {
  @apply border rounded-sm border-zinc-400 bg-zinc-100
}

.text-box:invalid.empty {
  @apply border-red-400 m-0
}

#status {
  @apply bg-green-300 rounded-xl w-1/3
}

#status:hover {
  @apply bg-green-400
}

#status.unread {
  @apply bg-red-200
}

#status.unread:hover {
  @apply bg-red-300
}